@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Glossary formatting (7.11.2.4) */
dl{
	margin: 1em 0;
}

dd{
	margin-left: 40px;
}

dd + dt{
	margin-top: 1em;
}
/* End Glossary formatting */

/* Headers that do not go into the table of contents (7.2.10.8) */
header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* Elision (7.5.7) */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* End Elision */

/* Poetry formatting from 7.5, edited so "verse" works as well as "poem" */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poetry formatting from 7.5 */

[epub|type~="z3998:poem"] header,
[epub|type~="z3998:verse"] header{
	/* styling for stanza numbers */
	display: block;
	font-variant: small-caps;
	margin: 2em 0 1em 0;
	text-align: center;
}

[epub|type~="z3998:poem"] header > p,
[epub|type~="z3998:verse"] header > p,
[epub|type~="z3998:poem"] hgroup > p,
[epub|type~="z3998:verse"] hgroup > p{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:poem"] header + p,
[epub|type~="z3998:verse"] header + p{
	/* adjusts spacing between number and stanza */
	margin: 0;
}

/* Prose elements following verses need more space */
div[epub|type~="z3998:verse"] + p{
	margin-top: 1.5em;
}

/* Correctly handle caesuras */
span > span + span{
	margin-left: 1.5em;
}

/* Format "spake" lines */
p span[epub|type~="z3998:persona"]{
	font-style: italic;
	padding-left: 3em;
	text-indent: -1em;
}

.speaker-tag{
	font-style: italic;
	padding-left: 3em;
	text-indent: -1em;
}
